<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 2</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="container">
      <header id="header-container">
        <span>
          <h1>Forums Title Goes Here</h1>
        </span>
        <a href="/all/new">
          <button class="standard-btn">Create New Thread</button>
        </a>
      </header>
      <section>
        <% posts.forEach((post) => { %>
          <div id="post-container">
            <a href="/all/<%= post.id %>">
              <h2><%= post.title %></h2>
            </a>
            <div id="post-container-icons">
              <span>Comments: <%= totalSum %></span>
              <span>Likes: <%= post.votes %></span>
            </div>
          </div>
        <% }) %>
      </section>
    </div>
  </body>
</html>
