<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Create a new thread</h1>
      </header>
      <section>
        <form action="/all" method="POST">
          <label for="posts[title]">Post Title</label><br>
          <input type="text" name="posts[title]"><br>
          <label for="posts[content]">Post Content</label><br>
          <textarea name="posts[content]" rows="8" cols="80" placeholder="Enter some text..."></textarea><br>
          <button class="standard-btn" type="submit">Create Thread</button>
        </form>
      </section>
    </div>
  </body>
</html>
